<h1>Public::Customers#show</h1>
<h2>マイページ</h2>
<div class="field">
  <label>登録情報</label>
  <%= link_to  edit_customer_path(@customer) do %>編集する<% end %>
</div>
<div class="field">
  <label>氏名</label>

</div>
<div class="field">
  <label>カナ</label>

</div>
<div class="field">
  <label>郵便番号</label>

</div>
<div class="field">
  <label>住所</label>

</div>
<div class="field">
  <label>電話番号</label>

</div>
<div class="field">
  <label>メールアドレス</label>

</div>
<div class="field">
  <label>配送先</label>

</div>
<div class="field">
  <label>注文履歴</label>

</div>
