<h1>Admin::Items#index</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% @items.each do |item| %>
        <%= link_to admin_item_path(item) do %><%= item.name %><% end %>
      <% end %>
    </div>
    <div class="col">
      <%= link_to new_admin_item_path do %>新規登録<% end %>
    </div>
  </div>
</div>
