<%= render "public/layouts/frame", type: :standard do %>
  <div class="d-flex justify-content-between">
    <div>
      <h3 class="marked-heading">商品一覧</h3>
    </div>
    <%= link_to new_admin_item_path, class: "btn btn-light btn-lg rounded-circle border shadow-sm mx-3" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <div class="my-4">
    <%= render "table", items: @items %>
    <div class="d-flex justify-content-center">
      <%= paginate @items %>
    </div>
  </div>
<% end %>
