<h1>Admin::Items#index</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>商品一覧</h2>
       <!--ボタンを変更の可能性につきリンクに新規投稿用と記載-->
      <%= link_to new_admin_item_path do %>新規登録用<% end %>
      <%= render "table", items: @items %>
  </div>
</div>


