<div class="container my-4">
  <div class="row">
    <div class="col">
      <%= render "public/items/index", items: @show_items, heading_text: category_text(@word, @category), count: @search_items_count %>
    </div>
  </div>
</div>

