<%= render "public/layouts/frame", type: :standard do %>
  <h3 class="marked-heading">会員一覧</h3>
  <table class="table my-3">
    <thead class="thead-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "customers_table", collection: @customers, as: :customer %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @customers %>
  </div>
<% end %>