<% case type %>
<% when :sidebar %>
  <div class="container-fluid my-4">
    <div class="row">
      <aside class="col-lg-2 mt-4">
        <%= render "public/homes/sidebar" %>
      </aside>
      <div class="col-lg-10">
        <%= yield %>
      </div>
    </div>
  </div>
<% when :standard %>
  <div class="container my-4">
    <div class="row">.
      <div class="col mx-auto">
        <%= yield %>
      </div>
    </div>
  </div
<% end %>