<div class="container my-4">
  <div class="row">
    <% case type %>
    <% when :sidebar %>
      <div class="col-lg-3">
        <%= render "public/homes/sidebar" %>
      </div>
      <div class="offset-lg-1 col-lg-8">
        <%= yield %>
      </div>
    <% end %>
  </div>
</div>