// Bootstrap の Sass mixin を使えるようにするための記述
@use "~bootstrap/scss/bootstrap" as *;

@use "../global/variables" as *;

#navigation {
  height: 100%;
}

#search-form {
  max-width: 24rem;
}

#logo img {
  height: 24px;

  @include media-breakpoint-down(lg) {
    height: 20px;
  }
}

@include media-breakpoint-down(md) {
  #nav-menu {
    position: relative;
  }

  #navbarSupportedContent {
    position: absolute;
    width: 12rem;
    top: 100%;
    right: 0px;
    margin-top: 1rem;
    padding: 1rem;
    z-index: 8;
    background-color: $header-color;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .navbar-nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
}

.navigation-menu-item {
  display: contents;
  margin: 0 0.5rem;
}

.navigation-menu-button {
  position: relative;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  color: $navigation-menu-color;
  text-decoration: none;
  transition: 120ms ease-out;
  transition-proparty: color background-color;

  &:hover {
    color: lighten($navigation-menu-color, 16%);
    background-color: rgb(lighten($navigation-menu-color, 64%), 0.48);
    text-decoration: none;
  }

  &:active {
    background-color: rgb(lighten($navigation-menu-color, 56%), 0.48);
  }
}
