// Global Colors
$body-wallpaper: "../images/so-white.png";
$header-color: #faf7f5;
$footer-color: #fcfbfa;
$navigation-menu-color: #23221e;

// Status Colors
$status-color-active: #22c55e;
$status-color-inactive: #9ca3af;

// Font family
$font-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-serif: "Times New Roman", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// Registration and Session forms
$main-label-width: 12rem;
$sub-label-width: 3rem;
$input-width: 16rem;