<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>ジャンル編集</h4>
      <div class="my-4">
        <%= render "admin/genres/form", genre: @genre, btn_text: "変更を保存" %>
      </div>
    </div>
  </div>
</div>
