<%= render "public/layouts/frame", type: :standard do %>
  <h3 class="marked-heading">
    注文履歴一覧
  </h3>
  <%= render "admin/orders/index/table", orders: @orders, show_customer: true %>
  <div class="d-flex justify-content-center">
    <%= paginate @orders %>
  </div>
<% end %>
