<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h3 class="marked-heading">注文履歴一覧</h3>
      <%= render "admin/orders/index/table", orders: @orders, show_customer: true %>
    </div>
  </div>
</div>
