<table class="table table-bordered">
  <tbody class="thead-light">
    <tr>
      <th scope="row">商品合計</th>
      <td><%= to_jpy_format(order.total_price, false) %></td>
    </tr>
    <tr>
      <th scope="row">送料</th>
      <td><%= order.postage %></td>
    </tr>
    <tr>
      <th scope="row">請求金額</th>
      <td><%= to_jpy_format(order.postage + order.total_price, false) %></td>
    </tr>
  </tbody>
</table>
