<%= render "public/layouts/frame", type: :standard do %>
  <div class="d-flex justify-content-center align-items-center p-5">
    <h2 class="font-weight-bold my-5">ご注文ありがとうございました！</h2>
  </div>
<% end %>