<div class="container">
  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p><strong>注文情報</strong></p>
      <%= render "order_info_table", order: @order %>
    </div>
    <div class="col-md-3">
      <p><strong>請求情報</strong></p>
      <%= render "order_price_table", order: @order %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p><strong>注文内容</strong></p>
      <%= render "order_item_table", order_items: @order_items %>
    </div>
  </div>
</div>