<div class="card">
  <div>
    <!--画像サイズは仮の数字です-->
    <%= image_tag item.image || "", size: "100x100" %>
  </div>
  <div>
    <%= item.introduction %>
  </div>
  <div>
    <%= item.name %>
  </div>
  <div>
    ￥<%= item.non_taxed_price.to_s(:delimited) %>
  </div>
</div>