<% content_for :error do %>
  <% if model && model.errors.any? %>
    <%= render "layouts/alert", type: :error do %>
      <div>
        <div class="font-weight-bold d-flex align-items-center h5">
          <i class="fa-solid fa-xmark mr-2"></i><%= model.errors.size %>件のエラーが発生しました
        </div>
        <ul>
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>