<header>
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.svg", height: 24 %>
      <% end %>
    </div>
    <div>
      <% if customer_signed_in? %>
        ようこそ、<%= current_customer.last_name %>さん！
      <% end %>
    </div>
    <div>
      <ul class="navbar-nav">
        <%= render partial: "layouts/nav-item", collection: nav_items, as: :item %>
      </ul>
    </div>
  </nav>
</header>
