<header>
  <div class="logo">
    <%= link_to root_path do %>
      ながのCAKE
    <% end %>
  </div>
  <div>
    <!--ようこそ、〇〇さん！-->
  </div>
  <div>
    <nav>
      <!-- 未ログイン時のナビのみ -->
      <div>About</div>
      <div>商品一覧</div>
      <div>新規登録</div>
      <div>ログイン</div>
    </nav>
  </div>
</header>