<%#
  itemハッシュからパス(`path`)とHTTPメソッド(`method`)を取得します。
  メソッドが指定されていない場合は`nil`を使用します。
%>

<li class="navigation-menu-item">
  <%= link_to item[:path], method: item[:method] || nil, class: "navigation-menu-button" do %>
    <%= item[:text] %>
  <% end %>
</li>
