<% flash.each do |message_type, message| %>
  <% case message_type %>
  <% when "notice" %>
    <%= render "layouts/alert", type: :notice do %>
      <div class="font-weight-bold">
        <i class="fa-solid fa-check mr-2"></i><%= message %>
      </div>
    <% end %>
  <% when "alert" %>
    <%= render "layouts/alert", type: :alert do %>
      <div class="font-weight-bold">
        <i class="fa-solid fa-triangle-exclamation mr-2"></i><%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>
